html{
background-image: linear-gradient(rgb(221, 179, 235), rgb(171, 226, 226));
background-size: cover;
background-repeat: no-repeat;
height:100%;
}

body{
    min-height:100vh-8pt;
}

head{
background-color:#eecfba;
color: #a5a58d;
}

nav{
background-color:#eecfba;
font-size: 20px;
position: relative;
border: #fefae0 2px;
color:  #a5a58d
}

a{
background-color: #eecfba;
color: #a5a58d;
}


a:hover{
background-color: #a5a58d;
color: #eecfba
}

