html{
background-color: #efe2ba;
background-size: cover;
background-repeat: no-repeat;
height:100%;
}

body{
    min-height:100vh-8pt;
}

a{
color: #f7b942;
background-color:#fd5b55;
font-size: 110%;
font-weight:bold;
border:5px solid #fd5b55;
border-radius:30px;
}

a:hover{
color: #efe2ba;
background-color:#f7b942;
font-size: 110%;
font-weight:bold;
border:5px solid #f7b942;
border-radius:30px;
}

h1 {
    color: #4056a1;
    text-align:center;
}

h2{
    font-size:90%;
}